---
layout: default
---
<div class="home">
	<section class="site-header">
		<div style="width: 100%; overflow: hidden;">
			<div style="width: 320px; float: left; padding: 20px">
				<img src="/assets/mareknarozniak320x320.png">
			</div>
			<div style=".bio">
				<h1 class="smallcap"><a class="site-title" href="/">Marek Narozniak</a></h1>
				<p>Hello, I'm Marek Narozniak and welcome to my personal website. I was born and raised in Poland, and am a graduate of <i>Université de Nantes</i>, France with a MSc. degree in <i>Optimization in Operations Research</i>. Currently I'm enrolled in PhD program in <i>Physics</i> at <i>New York University</i>.</p>
				<p>Professionally, my interests lie in solving formal problems. I enjoy discrete mathematics, set theory and topics related to automata. Scientifically, I like to challenge myself and force myself out of my comfort zone, thus I often explore other fields of research as well.</p>
			</div>
		</div>
	</section>
	<section>
		<h1 class="smallcap"><a class="site-title" href="/">Accounts</a></h1>
		<a class="site-title" href="https://arxiv.org/a/narozniak_m_1.html">{% include arxiv.html %}</a><a class="site-title" href="https://orcid.org/0000-0002-4315-4953">{% include orcid.html %}</a><a href="https://twitter.com/MarekNarozniak?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @MarekNarozniak</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script><a href="https://twitter.com/intent/tweet?screen_name=MarekNarozniak&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-show-count="false">Tweet to @MarekNarozniak</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
	</section>
	<section>
		<h1 class="smallcap"><a class="site-title" href="/">Publications</a></h1>
		{% bibliography --file papers %}
	</section>
	<section>
		<h1 class="smallcap"><a class="site-title" href="/">Preprints</a></h1>
		{% bibliography --file preprints %}
	</section>
	<section>
		<h1 class="smallcap"><a class="site-title" href="/">Conference proceedings</a></h1>
		{% bibliography --file proceedings %}
	</section>
	<section>
		<h1 class="smallcap"><a class="site-title" href="/">Mentions and interviews</a></h1>
		<ul class="post-list">
			{% for mention in site.data.mentions %}
				{% include mention-list-entry.html %}
			{% endfor %}
		</ul>
	</section>
	<section>
		  <h1 class="smallcap"><a class="site-title" href="/">LiveStream</a></h1>
      <p>To join me live, check the <a href="{{ site.liveyoutube }}">upcoming live events</a>. There is also a dedicated <a href="{{site.livefb}}">Facebook page</a> along with regularly updated <a href="{{site.livefbevents}}">events</a>. Below the most recent ten streams.</p>
		  <ul class="post-list">
			    {% for mention in site.data.livestream limit: 10 %}
				  {% include video-list-entry.html %}
			    {% endfor %}
		  </ul>
      <p>Complete list of all recorded events is available under <a href="/live">live events archive page</a>.</p>
	</section>
	<section>
		<h1 class="smallcap"><a class="site-title" href="/">Online articles and tutorials</a></h1>
		<ul class="post-list">
			{% for post in site.posts %}
				{% if post.lang == 'en_US' %}
					{% include post-list-entry.html %}
				{% endif %}
			{% endfor %}
		</ul>
	</section>
	<section>
		<h1 class="smallcap"><a class="site-title" href="/">Open-Source Contributions</a></h1>
		<ul class="post-list">
			{% for contribution in site.data.contributions %}
				{% include os-contribution-list-entry.html %}
			{% endfor %}
		</ul>
	</section>
</div>
