<head>
  <meta charset="utf-8">
  <link rel="icon" type="image/png" href="/assets/favicons/android-chrome-192x192.png" sizes=192x192>
  <link rel="icon" type="image/png" href="/assets/favicons/android-chrome-512x512.png" sizes=512x512>
  <link rel="apple-touch-icon" type="image/png" href="/assets/favicons/apple-touch-icon.png" sizes=x>
  <link rel="icon" type="image/png" href="/assets/favicons/favicon-16x16.png" sizes=16x16>
  <link rel="icon" type="image/png" href="/assets/favicons/favicon-32x32.png" sizes=32x32>
  <link rel="icon" type="image/x-icon" href="/assets/favicons/favicon.ico">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ " - " | prepend: page.title }}{% endif %}{{ site.title }}</title>
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  {% if page.katex %}<link rel="stylesheet" href="{{ "/assets/katex/katex.css" | prepend: site.baseurl }}">{% endif %}
  {% seo %}
  {% if page.gallery %}<link rel="stylesheet" href="{{ "/css/perfundo.min.css" | prepend: site.baseurl }}">{% endif %}
</head>
