<figure>
  <div class="fig-container">
    <div style="position: relative; display: inline-block">
      <svg style="z-index:-1;" width="143" height="161" version="1.1" xmlns="http://www.w3.org/2000/svg">
      	<ellipse stroke="black" stroke-width="1" fill="none" cx="71.5" cy="81.5" rx="25" ry="25"/>
        <text x="63.5" y="87.5" font-family="Times New Roman" font-size="20">s&#8320;</text>
      	<path stroke="black" stroke-width="1" fill="none" d="M 60.479,59.169 A 18.75,18.75 0 1 1 82.521,59.169"/>
      	<polygon fill="black" stroke-width="1" points="82.521,59.169 91.268,55.636 83.178,49.758"/>
      	<path stroke="black" stroke-width="1" fill="none" d="M 93.831,70.479 A 18.75,18.75 0 1 1 93.831,92.521"/>
      	<polygon fill="black" stroke-width="1" points="93.831,92.521 97.364,101.268 103.242,93.178"/>
      	<path stroke="black" stroke-width="1" fill="none" d="M 82.521,103.831 A 18.75,18.75 0 1 1 60.479,103.831"/>
      	<polygon fill="black" stroke-width="1" points="60.479,103.831 51.732,107.364 59.822,113.242"/>
      	<path stroke="black" stroke-width="1" fill="none" d="M 49.169,92.521 A 18.75,18.75 0 1 1 49.169,70.479"/>
      	<polygon fill="black" stroke-width="1" points="49.169,70.479 45.636,61.732 39.758,69.822"/>
      </svg>
      <div style="display: block; position:absolute; top:50px; left:135px; z-index:0;">{% include expr1.html %}</div>
      <div style="display: block; position:absolute; top:50px; left:-225px; z-index:0;">{% include expr2.html %}</div>
      <div style="display: block; position:absolute; top:-15px; left:0px; z-index:0;">{% include expr3.html %}</div>
      <div style="display: block; position:absolute; top:125px; left:0px; z-index:0;">{% include expr4.html %}</div>
    </div>
  </div>
</figure>
